/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  margin: 0;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
a {
  text-decoration: none;
}

.gnb a {
  display: block;
  width: 300px;
  height: 40px;
  position: relative;
  overflow: hidden; 
  /* 넘친부분을 가려줘서 밀어내는 느낌 형성 */
}
.gnb a:before,
.gnb a:after { /* 만들어서 나중에 색상만 변경해주기 */
  content: attr(data-text); 
  /* text를 변경하고 싶을 때, 안에 있는 text값을 불러옴. 변수 같은 개념 */
  position: absolute;
  width: inherit;
  height: inherit;
  /* 부모요소의 값을 상속해온다. */
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.3s; /* 움직이는거에 transition 주기 */
}
.gnb a:before {
  background-color: crimson;
  top: 0;
}
.gnb a:after {
  background-color: royalblue;
  top: 100%;
  /* 부모요소의 높이에서 시작. 부모요소가 달라지더라도 변경 불필요. 이부분이 퍼블리싱에서 가장 중요하다.*/
}
.gnb a:hover:before {
  top: -100%;
  /* 부모요소의 상단 끝점부터 올라가게. */
}
.gnb a:hover:after {
  top: 0;
}