/* Google Web Font */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  font-family: 'Raleway', sans-serif;
}
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.5em;
  color: #222;
}
a {
  text-decoration: none;
  color: #222;
}
.content {
  min-height: calc(100vh - 100px);
}

/* heading */
.heading {
  margin: auto;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.heading h1 {
  color: darkblue;
  font-weight: bold;
}
.heading button {
  border: 1px solid darkblue;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}
.heading p {
  color: darkblue;
  padding: 0 5px;
}

/* Animation Validate Login Form */
.login{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 500px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.1);
}
.login h1 {
  font-size: 2em;
}
.input-field {
  position: relative;
}
.input-field input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  margin: 20px 0;
  font-size: 18px;
}
.input-field span,
.input-field label {
  position: absolute;
  color: #222;
  left: 15px;
  top: 30px;
  pointer-events: none;
  transition: 0.2s;
}
/* .input-field label {
  position: absoulte;
  right: 
} */
.input-field span em {
  color: red;
  font-style: normal;
  font-size: 18px;
  
}
/* .forgetPassword {
} */
.forgetPassword a {
  float: right;
  color: darkblue;
}
.forgetPassword a:hover {
  text-decoration: underline;
}
.button-field input {
  background-color: darkblue;
  color: #fff;
  border: none;
  font-size: 17px;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}
.add-info {
  margin-top: 20px;
}
.add-info a {
  color: darkblue;
}
.add-info a:hover {
  text-decoration: underline;
}

/* Input Field */
.input-field input:focus + span,
.input-field input:valid + span {
  top: 8px;
  /* transform: translateY(-30px); */
  font-size: 12px;
  padding: 0 5px;
  background-color: #fff;
  color: darkblue;
  font-weight: bold;
}

.input-field input:focus {
  border: 2px solid darkblue;
}

.input-field span.warning {
  color: crimson !important;
  animation: warning 0.2s ease-in-out 2;
}
@keyframes warning {
  0%, 100% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
}

/* Footer */
footer {
}
.footer-inner {
  height: 100px;
  padding: 40px;
  margin: auto;
  overflow: hidden;
}
.footer-policy {
  float: left;
}
.footer-policy a {
  margin: 0 15px 0 0;
}
.footer-sns {
  float: right;
}
.footer-sns a {
  font-size: 1.3em;
  margin: 0 0 0 15px;
}
/* content:"\f09a"; */